body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

nav {
    background: #007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

nav h2 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: white;
}

.hero h1 {
    color: #007BFF;
    font-size: 42px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

button {
    background: #007BFF;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
#student-form {
    padding: 40px;
    text-align: center;
    background-color: #f4f4f4;
}

#student-form input {
    width: 300px;
    padding: 10px;
    margin: 10px;
}

#student-form button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#student-form button:hover {
    background-color: darkblue;
}
